#root {
    max-width: 80vw;
    width: 80vw;
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: red;
}

#title {
    width: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

svg {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
}

