#user-input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 50px;
}

#user-input-div p {
    color: black;
    margin-right: 5px;
    font-size: 20px;
}

#user-input-div form {
    display: flex;
    align-items: center;
}

#instruction-input {
    background-color: white;
    color: black;
    align-items: center;
    font-size: 20px;
}

#submit-button {
    margin-left: 10px;
    font-size: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}