#root {
    max-width: 80vw;
    width: 80vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#title {
    width: 100%;
    background-color: #4CAF50;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

svg {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
}

