#root {
    max-width: 80vw;
    width: 80vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#title {
    width: 100%;
    background-color: #4CAF50;
}

.app {
    width: 100%;
    text-align: center;
}

svg {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5; /* optional */
}

